<template>
  <div class="about">
    <h1>Merhaba,</h1>
    <p>
      Vue.js kullanarak yapayım istedim. Vue'nin dokümanını çok fazla okuyamadım ancak bu challange için yeterli
      olacaktır sanırım.
    </p>
    <p>
      Paribu'nun sitesinde bahsetmiş olduğunuz data giriş sayfasına ulaşmak için bazı kişisel bilgileri doldurmak
      gerekiyordu. Bu nedenle ben oraya bakmadan kendi hayalimdeki giriş ekranını tasarladım. Biraz da fonksiyonalite
      ekledim.
    </p>
    <ul>
      <li>Input alanlarında iken aşağı yukarı tuşları ile değeri artırma azaltma</li>
      <li>Aşağı yukarı ile değeri belirtilen decimal seviyesinde ayarlama</li>
      <li>Min ve Max değere otomatik set etme</li>
      <li>Min ve Max değer kontrolü</li>
      <li>Min ve Max hatası giderme (Fix button)</li>
      <li>Girilen değeri otomatik decimal değere atama</li>
      <li>Numeric olmayan değeri yapıştırma kontrolü</li>
      <li>Numeric veri giriş kontrolü</li>
      <li>Enter ile sonraki input'a geçme</li>
    </ul>
  </div>
</template>
