<template>
  <div class="home">
    <div v-for="currency of currencies">
      <MoneyInput :props="data.currencies[currency]" :currency="currency"></MoneyInput>
    </div>
  </div>
</template>

<script lang="ts">
  import {Component, Vue} from 'vue-property-decorator';
  import HelloWorld from '@/components/HelloWorld.vue'; // @ is an alias to /src
  import MoneyInput from '@/components/MoneyInput.vue'; // @ is an alias to /src
  import CurrencyService from '@/services/currencyService';

  @Component({
    components: {
      HelloWorld, MoneyInput
    }
  })
  export default class Home extends Vue {
    public currencies: string[] = [];
    private data: any = null;
    private currencyService: CurrencyService = new CurrencyService();

    private async created() {
      this.data = await this.currencyService.dummyHttpCall();
      this.currencies = Object.keys(this.data.currencies);
    }
  }
</script>
