<template>
  <div class='hello'>
    <h1>++{{ parentValue }}++</h1>
    <h1 @click='onClick'>++{{ message }}++</h1>
    <p>
      <!--++{{change}}++-->
    </p>
  </div>
</template>

<script lang='ts'>
  import {Component, Emit, Prop, Vue} from 'vue-property-decorator';


  @Component
  export default class HelloWorld extends Vue {
    @Prop({default: 'First Message'}) private parentValue!: string;
    private message: string | null = null;

    @Emit() protected addToCount(n: number) {
      this.message = 'Emitted';
    }

    private onClick() {
      this.message = 'Changed';
    }
  }

</script>

<!-- Add 'scoped' attribute to limit CSS to this component only -->
<style scoped lang='scss'>
  h3 {
    margin: 40px 0 0;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    display: inline-block;
    margin: 0 10px;
  }

  a {
    color: #42b983;
  }
</style>
