<template>
  <div class="money-input-host">
    <div class="input-container">
      <div class="row-box" :style="{backgroundColor: color}"></div>
      <label class="label">
        <input
          v-model="value"
          :step="step"
          :min="props.min"
          :max="props.max"
          :class="{error: status}"
          type="number"
          @keypress="onKeyPress"
          @blur="onBlur"
        />
      </label>
      <span class="prop"><span class="name">Currency</span> <span class="value">{{currency}}</span></span>
      <span class="prop"><span class="name">Decimal</span> <span class="value">{{props.decimals}}</span></span>
      <span class="prop set" :class="{'status': minStatus }" @click="setValue(props.min)">
        <span class="name">Min</span>
        <span class="value">{{props.min}}</span>
        <span class="fix">FIX</span>
      </span>
      <span class="prop set" :class="{'status': maxStatus }" @click="setValue(props.max)">
        <span class="name">Max</span>
        <span class="value">{{props.max}}</span>
        <span class="fix">FIX</span>
      </span>
    </div>
    <div class="message-container" v-if="status">{{message}}</div>
  </div>
</template>

<script lang="ts">
  import {Component, Prop, Vue, Watch} from 'vue-property-decorator';
  import {Currency} from '@/services/currencyService';
  import {Util} from '@/common/util';

  enum InputMessages {
    EMPTY = '',
    WRONG_TYPE = 'Wrong type input was entered',
    MIN_VALUE_ERROR = 'Lower then expected',
    MAX_VALUE_ERROR = 'Higher then expected'
  }

  @Component
  export default class MoneyInput extends Vue {
    @Prop() private props!: Currency;
    @Prop() private currency!: string;
    private value: any = '';
    private message: string = InputMessages.EMPTY;
    private status: boolean = false;
    private minStatus: boolean = false;
    private maxStatus: boolean = false;
    private step: number = 1 / Math.pow(10, this.props.decimals);
    private color: string = Util.hexToRgbA('#' + this.props.color, 0.9);

    public onKeyPress(event: KeyboardEvent) {
      if (event.keyCode === 13) {
        event.preventDefault();
        event.stopPropagation();
        if (event.target !== null) {
          this.moveNext(event.target as HTMLElement);
        }
      } else {
        this.message = this.setMessage(this.isNumber(event.key as any) ? InputMessages.WRONG_TYPE : InputMessages.EMPTY);
      }
    }

    public onBlur() {
      this.message = this.setMessage(InputMessages.EMPTY);
      this.value = this.floor(this.value, this.props.decimals);
      this.checkValue(this.value);
    }

    @Watch('value')
    private modelValueChangeWatcher(val: any, old: string) {
      this.onModelChange(val, old);
    }

    private isNumber(value: any): boolean {
      return (value !== ',' && isNaN(value));
    }

    private setMessage(value: InputMessages): string {
      return value;
    }

    private floor(value: number, decimal: number): string {
      const nValue = value * Math.pow(10, decimal) / Math.pow(10, decimal);
      return parseFloat(nValue.toString()).toFixed(decimal);
    }

    private moveNext(element: HTMLElement) {
      const focusable: NodeListOf<HTMLElement> = document.querySelectorAll(
        'button, [href], input, select, textarea, [tabindex]:not([tabindex="-1"])'
      );
      const index = Array.prototype.indexOf.call(focusable, element);
      if (index + 1 < focusable.length) {
        focusable[index + 1].focus();
      } else {
        element.blur();
      }
    }

    private setValue(value: number) {
      this.value = value;
      this.checkValue(value);
    }

    private checkValue(value: number) {
      this.message = this.setMessage(value < this.props.min ? InputMessages.MIN_VALUE_ERROR :
        value > this.props.max ? InputMessages.MAX_VALUE_ERROR :
          InputMessages.EMPTY);
      this.minStatus = value < this.props.min;
      this.maxStatus = value > this.props.max;
      this.status = this.minStatus || this.maxStatus;
    }

    private onModelChange(value: any, old: string) {
      if (this.isNumber(value)) {
        this.value = old;
      }
    }
  }
</script>


<style scoped lang="scss">
  .money-input-host {
    border-radius: 15px;
    // border: 1px solid #efefef;
    padding: 5px 20px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .input-container {
      display: flex;
      align-items: center;

      .row-box {
        width: 20px;
        height: 20px;
        margin-right: 20px;
      }

      label {
        margin-right: 20px;

        input {
          border-radius: 3px;
          border: 1px solid #e8e8e8;
          padding: 15px;
          font-size: 14px;
          min-width: 190px;
          box-sizing: border-box;
          outline: none;

          &.error {
            border: 1px solid rgba(255, 0, 0, 0.3);
          }
        }
      }

      .prop {
        display: flex;
        flex-direction: column;
        min-width: 80px;
        color: #3e3e3e;
        padding: 4px;
        margin-right: 15px;

        .name {
          font-size: 10px;
        }

        .value {
          font-size: 14px;
          font-weight: 500;
          line-height: 14px;
        }

        .fix {
          display: none;
        }

        &.status {
          border-radius: 2px;
          border: 1px solid rgba(255, 0, 0, 0.1);
          background: rgba(255, 0, 0, 0.1);
          position: relative;

          .fix {
            display: flex;
            transform: rotate(90deg);
            position: absolute;
            background: rgba(255, 0, 0, 0.05);
            top: 10px;
            width: 36px;
            height: 16px;
            right: -10px;
            align-items: center;
            justify-content: center;
            font-size: 10px;
          }
        }

        &.set {
          cursor: pointer;
        }
      }
    }

    .message-container {
      padding-top: 3px;
      padding-left: 40px;
      font-size: 14px;
      color: rgba(255, 0, 0, 0.5);
    }
  }
</style>
